<style>
	.box {
		width: 100%
	}

	.section {
		padding: 0%
	}

	.card {
		padding: 1%;
	}

	.right {
		float: right;
	}

	.left {
		float: left;
		font-size: 200%;
	}
</style>

{{#if login}}
<section class="section">
	<a class="button is-primary is-large" href="/new-post">New post</a>
</section>
{{/if}}

<body>

	<br>

	{{#each movieposts}}

	<a href="/post/{{id}}">
		<div class="card" id="card-class">

			<span class="left"><strong>{{title}}</strong></span>
			<span class="right">Tag: Question</span>
			<br>
			<br>
			<br>
			<p><small>Posted by {{username}} at date</small></p>

		</div>
	</a>

	{{/each}}

</body>